[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third_party/folly"]
	path = third_party/folly
	url = https://github.com/facebook/folly
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/gperftools"]
	path = third_party/gperftools
	url = https://github.com/gperftools/gperftools
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/atomic_queue"]
	path = third_party/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git

[submodule "src/framework_adapters/torch/kg/dgl"]
	path = src/framework_adapters/torch/kg/dgl
	url = https://github.com/dmlc/dgl.git
  commit = d4a1be3266857c963e4a8e76746baeba3be8f369

[submodule "src/framework_adapters/torch/kg/dgl-ke"]
	path = src/framework_adapters/torch/kg/dgl-ke
	url = https://github.com/awslabs/dgl-ke.git
  commit = 43875a57a721d62396d05235226b13e6c2db1a2a

[submodule "third_party/HugeCTR"]
	path = third_party/HugeCTR
	url = https://github.com/NVIDIA-Merlin/HugeCTR.git
  commit = 869028c1c32bdcda2f18efc88d54f0527ed28d6d


